body, 
html{
    height: 100%;
    
    
}
/*Lupa de busqueda*/
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*Lupa de busqueda*/
.container{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
/*Lupa de busqueda*/
input{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color:black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid rgb(255, 140, 9);
    transition: all .7s ease;

}
/*Lupa de busqueda*/
::placeholder{
    color: black
}
/*Lupa de busqueda*/
.btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: orange;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
/*Lupa de busqueda*/
.btn i {
    font-size: 25px;
    color:  white;
    line-height: 80px;
    transition: .5s;

}
/*Lupa de busqueda*/
.container:hover input{
    width: 350px;
}
/*Lupa de busqueda*/
.container:hover i{
    transform: rotate(-360deg);
}
/*Lupa de busqueda*/
.btn:hover{
    background: orange;
}
/*Centrar imagen del Inicio*/

.caja-presentacion{
    width: 100%;

}
.caja-presentacion img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
header{
    background-color:#D9420B;
}


/*Pie de pagina*/
footer{
    background-color: black;
    position: flex;
    bottom: 0;
   width: 100%;
    height: 150px;
    color: white;
    flex-direction: column;
    
}
/*Simbolo de WPP*/
.whatsapp{
    float: right;
    flex-direction: column;
}


main{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
    flex-wrap: wrap;
}

.contacto{
    height: 180px;
    margin: 10;
    padding: 10;
    float: right;

}
/*MENU NAVEGACION*/
.navegacion-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    height: 80px;
    
}

*{
    box-sizing: border-box;
}


@media(min-width:450px){
    article{
        width: calc(50% - 5px);
        padding: 10px;
        text-align: center;
    }
}
@media (min-width:768px){
    article{

        width:calc(33% - 5px);
       
        /*Modelo de caja y como se computan los rellenos*/
       padding: 10%;
       text-align: center;
        
    }
}

.sobre-nosotros{
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;

}

/*para que el footer quede abajo del todo*/
html, body{
    width: 100%;

}
body{
    display: flex;
    flex-direction:column; 
    margin: 0;
    padding: 0;
}
main{
    flex-grow: 1;
}

/* Rectangulo para ordernar las categorias */
.links_productos{

    width: 400px;
    margin: 50px auto;
    border: 2px solid white;
    background-color: orange;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Redondear los bordes */
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: space-between; /* Añade espacio entre los elementos */
}

/* Estilos de los enlaces */
.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.links li {
    margin: 10px ;
    display: flex;
    flex-direction: row;

}

.links a {
    display: block;
    text-decoration: none;
    color: black    ;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    display: flex;
    flex-direction: row;
}

.links a:hover {
    color: black    ;
}
.links_productos a{
    color: black;
    text-decoration: none;
}

.imagenlogo{
    padding: left;
}

